################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToDoApp.Domain/obj
/ToDoApp.Domain/bin
/ToDoApp.Domain/ToDoApp.Domain.csproj
